In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('imu_data.csv').iloc[:10, 0:1]

In [3]:
df

   accelerometer
0       0.903738
1       0.834571
2       1.160288
3       1.106549
4       0.931808
5       0.935102
6       1.080836
7       0.956375
8       1.033354
9       0.914597

In [8]:
rolling_metric_tables = []

rolling_metrics_surface = df.rolling(window=3).agg(['mean', 'std'])

rolling_metric_tables.append(rolling_metrics_surface)

In [9]:
rolling_metric_tables

[  accelerometer
            mean       std
 0           NaN       NaN
 1           NaN       NaN
 2      0.966199  0.171607
 3      1.033803  0.174619
 4      1.066215  0.119461
 5      0.991153  0.099950
 6      0.982582  0.085106
 7      0.990771  0.078720
 8      1.023522  0.062810
 9      0.968109  0.060242]

In [10]:
windows = df.rolling(3)

In [11]:
moving_averages = windows.mean()

In [12]:
moving_averages

   accelerometer
0            NaN
1            NaN
2       0.966199
3       1.033803
4       1.066215
5       0.991153
6       0.982582
7       0.990771
8       1.023522
9       0.968109